ion-title {
    font-family: 'Pacifico';
    font-size: 1.6rem;
    color: var(--ion-color-color1);
}

.idealBibliotek {
    height: 80vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ion-item {
    font-size: 0.8rem;
}

ion-button {
    margin-top: 20px;
}

ion-input {
    color: white;
}