<ion-header>
  <ion-toolbar>
    <ion-title>Biblitek</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/profile']">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/conversations-list']">
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padding">
    <div class="user">
      <div class="profile">
        <div class="avatar1" [ngStyle]="{'background-image' : 'url(' + imageUrl + post1?.user?.avatar}"></div> <!-- put avatar instead -->
        <p class="text-bold">{{ post1?.user?.pseudo }}</p>
      </div>
    </div>
    <div class="description">
      {{ post1?.description }}
    </div>
    <div class="comments" *ngFor="let comment of data">
      <div class="user">
        <div class="profile">
          <div class="avatar1" [ngStyle]="{'background-image' : 'url(' + imageUrl + comment?.user?.avatar + ')'}"></div>
          <p class="text-bold">{{ comment?.user.pseudo }}</p>
        </div>
      </div>
      <div class="content">{{ comment.content }}</div>
    </div>
    <form (ngSubmit)="addComment()">
      <ion-input [(ngModel)]="commentContent" name="comment" placeholder="Ajouter un commentaire" class="custom"></ion-input>
    </form>
  </div>
</ion-content>
