<div class="form">
  <div class="form-field">
    <label for="description"></label>
    <textarea type="text" class="form-control" id="description" placeholder="Texte du post" [(ngModel)]="post.description" required></textarea>
  </div>
  <div class="form-field">
    <label for="image"></label>
    <input type="text" class="form-control" id="image" placeholder="Image" [(ngModel)]="post.image" required/>
  </div>
  <div class="form-field">
    <button type="submit" (click)="addPost()" class="btn btn-primary">Ajouter</button>
  </div>
  <p *ngIf="errorFields">
    Remplissez tous les champs
  </p>
  <p *ngIf="isPostFailed">
    Une erreur est survenue
  </p>
</div>
