<ion-header>
  <ion-toolbar>
    <ion-title routerLink="/">Biblitek</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/profile']">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/conversations-list']">
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <h1>Postez !</h1>
  <app-add-post></app-add-post>
</ion-content>
