ion-title {
    font-family: 'Pacifico';
    font-size: 1.4rem;
    color: var(--ion-color-color1);
    opacity: 100% !important;
}

h1 {
    font-size: 1.5rem;
    margin-left: 5%;
    margin-top: 25%;
}