<ion-header>
  <ion-toolbar>
    <ion-title>Biblitek</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/login']">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/conversations-list']">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <!-- <i class="fa-solid fa-message"></i> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <app-header></app-header> -->
</ion-header>
<ion-content [fullscreen]="true">
  <div class="cards">
    <div *ngFor="let post of posts" >
      <app-post [post]="post"></app-post>
    </div>
    <div *ngFor="let post of data" >
      <app-post [post]="post"></app-post>
    </div>
  </div>
</ion-content>
