* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: roboto, sans-serif;
    text-align: center;
}

ion-title {
    font-family: 'Pacifico';
    font-size: 1.6rem;
    color: rgb(0, 208, 255);
}

.button-inner {
    color: rgb(0, 208, 255);
}

ion-toolbar {
    height: 50px;
}