<ion-header>
  <ion-toolbar>
    <ion-title>Biblitek</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <!-- <i class="fa-solid fa-message"></i> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <app-header></app-header> -->
</ion-header>
<ion-content [fullscreen]="false">  
  <div class="cards">
    <app-post-list></app-post-list>
  </div>
</ion-content>
