.title {
    font-family: 'Pacifico' !important;
    font-size: 1.4rem;
    color: var(--ion-color-color1);
    opacity: 100% !important;
}

h1 {
    font-family: 'Pacifico';
    font-size: 1.5rem;
    margin-left: 5%;
    margin-top: 25%;
}

ion-list {
    margin-right: 5%;
    margin-bottom: 5%;
}

h6 {
    font-style: italic;
    color: var(--ion-color-color1);
    margin: 5%;
    font-size: 0.8rem;
}

.btn {
    margin: 2.5%;
    margin-top: 5%;
}

.idealBibliotekItem {
    height: 50px;
    min-width: 100%;
    background-color: var(--ion-color-color2);
    font-size: 0.8rem;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 2.5%;
}

.idealBibliotekItem p {
    margin: 5%;
    width: 100%;
}

.idealBibliotek {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ion-select {
    font-size: 0.8rem;
}

