.title {
    font-family: 'Pacifico' !important;
    font-size: 1.6rem;
    color: var(--ion-color-color1);
    opacity: 100% !important;
}

h1 {
    font-family: 'Pacifico';
    font-size: 1.5rem;
    margin-left: 5%;
    margin-top: 25%;
}

ion-list {
    margin-right: 5%;
    margin-bottom: 5%;
}

h6 {
    font-style: italic;
    color: var(--ion-color-color1);
    margin: 5%;
    font-size: 0.8rem;
}

.btn {
    margin: 2.5%;
    margin-top: 5%;
}


