ion-content {
    --ion-background-color: linear-gradient(black, rgb(24, 24, 24));
}

.padding {
    padding: 2.5%!important;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 160px;
}

.name {
    position: relative;
    height: 250px;
}

ion-item {
    --ion-background-color: transparent!important;
    margin-right: 0%;
}

.connexion {
    margin-top: 12px;
}

.biblitek {
    font-family: 'Pacifico';
    font-size: 2rem;
    color: var(--ion-color-color1);
    text-align: center;
    margin-bottom: 25px;
}

ion-button {
    color: rgb(24, 24, 24);
}

.button-inner {
    color: black !important;
}

.inscription-line {
    text-align: center;
    margin-top: 16px;
}