<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="padding">
    <div class="biblitek">
      Biblitek
    </div>
    <ion-item lines="full">
      <ion-label color="primary">Prénom</ion-label>
      <ion-input color="primary" type="text" placeholder=""></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label color="primary">Nom</ion-label>
      <ion-input color="primary" type="text" placeholder=""></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label color="primary">Pseudo</ion-label>
      <ion-input color="primary" type="text" placeholder=""></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label color="primary">Email</ion-label>
      <ion-input color="primary" type="mail" placeholder=""></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label color="primary">Password</ion-label>
      <ion-input color="primary" type="password" placeholder=""></ion-input>
    </ion-item>
    <ion-button color="danger" expand="block" class="connexion" [routerLink]="['/']">Inscription</ion-button>
  </div>
</ion-content>