<div class="cardTotal">
  <div class="user">
    <div class="profile">
      <div class="avatar1" [ngStyle]="{'background-image' : 'url(' + imageUrl + post?.user?.avatar + ')'}"></div>
      <p class="text-bold">pseudo: {{ post?.user?.pseudo }}</p>
    </div>
  </div>
  <div class="card">
      <div class="card-header">
        <div class="card-img2" [ngStyle]="{'background-image' : 'url(' + imageUrl + post?.image + ')'}"></div>
      </div>
      <div class="card-body">
          <p class="text-description">{{ post?.description }}</p>
          <div class="reactions">
            <div class="likes">
              <p (click)="addLike()"><i class="fa-solid fa-heart" [ngClass]="{ 'violetHeart' : like === 1}"></i></p>
              <p class="text-small">{{ like }}</p>
            </div>
            <div class="comment" (click)="onClickShowComments()">
              <i class="fa-solid fa-message"></i>
              <a>Voir les commentaires</a>
            </div>
          </div>
      </div>
  </div>  
</div>


